{% extends 'base.html' %}

{% block header %}
  <div>
    <h1> Правила игры </h1>
  </div>
{% endblock %}

{% block content %}
  <div>
    <div class="card border-primary mb-3" style="max-width: 20rem;">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h4 class="card-title">Primary card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="alert alert-dismissible alert-warning">
      <h4 class="alert-heading">Внимание!</h4>
      <p class="mb-0">Убедительно просим Вас не использовать интернет, книги и другие подсказки во время прохождения опроса. Нам важно узнать точную статистику. Спасибо!</p>
    </div>
  </div>
{% endblock %}
